<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972785306497-9dsost8vfvjnhr9nshaf7rrp8gqvtujq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972785306497-9dsost8vfvjnhr9nshaf7rrp8gqvtujq</string>
	<key>API_KEY</key>
	<string>AIzaSyBOtyc695uS7ISfrxBpKCbq9HEyZhCu260</string>
	<key>GCM_SENDER_ID</key>
	<string>972785306497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Grp5000.BestFriendIbeacon</string>
	<key>PROJECT_ID</key>
	<string>bestfriendibeacon</string>
	<key>STORAGE_BUCKET</key>
	<string>bestfriendibeacon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972785306497:ios:47df6d789f5851f05cf680</string>
	<key>DATABASE_URL</key>
	<string>https://bestfriendibeacon.firebaseio.com</string>
</dict>
</plist>